#import "{{classPrefix}}BaseApi.h"
{{#imports}}#import "{{import}}.h"
{{/imports}}

{{#operations}}
@interface {{classname}}: NSObject
{{#operation}}

///
/// {{summary}}
/// {{notes}}
{{#responses}}
/// {{code}}: {{message}}{{#hasMore}},{{/hasMore}}
{{/responses}}
///{{#allParams}}
///  @param {{paramName}} {{{description}}}{{/allParams}}
///

+ (void){{nickname}}{{#allParams}}{{^secondaryParam}}With{{/secondaryParam}}{{/allParams}}{{#allParams}}{{#secondaryParam}} {{paramName}}{{/secondaryParam}}:({{{dataType}}}){{paramName}}{{^hasMore}} s{{/hasMore}}{{/allParams}}{{^allParams}}WithS{{/allParams}}uccess:(void (^)({{#returnBaseType}}{{returnType}} response{{/returnBaseType}}{{^returnBaseType}}id unused{{/returnBaseType}}))successBlock error:(void (^)(NSError* error))errorBlock;
{{/operation}}
{{/operations}}

@end
