#import <CoreData/CoreData.h>
#import <RestKit.h>
#import "CoreDataManager.h"

@interface BaseObject : NSManagedObject

+ (RKObjectMapping*)objectMapping;
+ (RKEntityMapping*)entityMapping;
+ (RKRequestDescriptor*)requestDescriptor;

+ (NSArray*)getEntities;
+ (NSArray*)getEntitiesWithPredicate:(NSPredicate*)predicate sortDescriptors:(NSArray*)sortDescriptors;
+ (id)getFirstWithPredicate:(NSPredicate*)predicate;
+ (id)getFirstWithUid:(NSString*)uid;

+ (instancetype)newInDb;
+ (void)save;

- (NSDictionary*)toDictionary;

@end
