#import "BaseObject.h"
#import "BaseApi.h"
#import "CoreDataManager.h"

@implementation BaseObject

+ (void)initialize
{
    [super initialize];
    [CoreDataManager setup];
}

+ (RKObjectMapping*)objectMapping
{
    return nil;
}

+ (RKRequestDescriptor*)requestDescriptor
{
    return [RKRequestDescriptor requestDescriptorWithMapping:[[self objectMapping] inverseMapping] objectClass:[self class] rootKeyPath:nil method:RKRequestMethodAny];
}

+ (RKEntityMapping*)entityMapping
{
    return nil;
}

+ (NSArray*)getEntities
{
    return [self getEntitiesWithPredicate:nil sortDescriptors:nil];
}

+ (id)getFirstWithPredicate:(NSPredicate*)predicate
{
    return [self getEntitiesWithPredicate:predicate sortDescriptors:nil].firstObject;
}

+ (id)getFirstWithUid:(NSString*)uid
{
    return [self getFirstWithPredicate:[NSPredicate predicateWithFormat:@"uid = %@", uid]];
}

+ (id)getEntitiesWithPredicate:(NSPredicate*)predicate sortDescriptors:(NSArray*)sortDescriptors
{
    return [CoreDataManager getEntitiesWithName:NSStringFromClass([self class]) predicate:predicate sortDescriptors:sortDescriptors];
}

+ (void)save
{
    [CoreDataManager save];
}

@end
