<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<model userDefinedModelVersionIdentifier="" type="com.apple.IDECoreDataModeler.DataModel" documentVersion="1.0" lastSavedToolsVersion="9525" systemVersion="15C50" minimumToolsVersion="Automatic">
{{#models}}{{#model}}<entity name="{{classname}}" syncable="YES">
        {{#vars}}{{#isPrimitiveType}}<attribute name="{{name}}" {{^required}}optional="YES" {{/required}}attributeType="{{baseType}}" syncable="YES"/>{{/isPrimitiveType}}{{^isPrimitiveType}}<relationship name="{{name}}" optional="YES" {{#isContainer}}toMany="YES" {{/isContainer}}{{^isContainer}}minCount="1" maxCount="1" {{/isContainer}}deletionRule="Nullify" destinationEntity="{{complexType}}" syncable="YES"/>{{/isPrimitiveType}}
        {{/vars}}
    </entity>{{/model}}{{/models}}
</model>
