#import <Foundation/Foundation.h>
#import "{{classPrefix}}BaseObject.h"

{{#imports}}#import "{{import}}.h"
{{/imports}}

{{#models}}
{{#model}}
@interface {{classname}} : {{#parent}}{{{parent}}}{{/parent}}{{^parent}}{{classPrefix}}BaseObject{{/parent}}

{{#vars}}@property (nonatomic) {{{ datatype }}} {{name}}; {{#required}}// [required] {{#description}}{{{description}}}{{/description}}{{/required}}{{^required}}{{#description}}// {{{description}}}{{/description}}{{/required}}
{{/vars}}

@end
{{/model}}
{{/models}}
